html {
     font-family: 'Raleway', sans-serif;
     padding: 0px;
}

body {
     margin: 0;
}

h1 {
     font-size: 42px;
     text-shadow: 1px 1px 1px;
     text-transform: capitalize;
}

h2 {
     font-size: 32px;
     padding-left: 10px;
}

h3 {
     font-size: 26px;
     margin-left: 20px;
     margin-bottom: 20px;
}

h3+p {
    margin-top: 40px;
     margin-left: 75px;
     margin-bottom: 60px;
}

p {
     font-size: 20px;
}

p.copyright {
     font-size: 12px;
}

.top {
     text-align: center;
     font-size: 12px;
     margin-top: 300px;
}

#menu>img
 {
     float: right;
     width: 50px;
}

img {
     float: left;
     width: 200px;
     padding-right: 10px;
}

iframe {
     display: block;
     margin: 25px auto;
}

ul {

     list-style-type: none;
     margin: 0;
     padding: 0;
     background-color: #cccccc;
}

li a {
     display: block;
     color: #000000;
     padding: 10px 30px;
     text-decoration: none;
}

li a:hover {
     background-color: #555555;
     color: white;
}

a.top {}

a.top:link, a.top:visited {
     background-color: #cccccc;
     color: black;
     padding: 14px 25px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
}

a.top:hover, a.top:active {
     background-color: #555555;
     color: white;
}

.clearfix {
     overflow: auto;
     padding: 20px 50px;
}


#menu:hover {
     transition: width 2s;
     width: 200px;
}

#menu:hover > ul, #menu:hover > h2, #menu > img
{
     visibility: visible;
	transition-delay: 1s;
}

#menu > ul, #menu > h2, #menu:hover > img
{
     visibility: hidden;
}

#menu {
     float: left;
     position: fixed;
     padding: 175px 0px;
     top: 0px;
     height: 100%;
     transition: width 2s;
     width: 70px;
     overflow: auto;
     background-color: #cccccc;
}

#contenu {
     margin:  auto 250px;
}

#contenu>p>a>img {
    border:0;
    width:88px;
    height:31px;
}

#header {
     text-align: center;
     padding: 40px;
     background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

#footer {
     margin-top: 200px;
     color: #fc8de8;
     background-color: #424242;
     text-align: center;
     padding: 10px;
}
